body {
    background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  nav, main, footer, a {
    width: 80%;
    margin: 0 auto 20px;
    background-color: #F6EEE0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
  }

  .index {
    background-image: url("restaurant\ background.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  header{
    margin: 100px auto;
    text-align: center;
    text-decoration: none;
  }

  .adminlog {
    background-image: url("restaurant\ background.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 header {
  color: azure;
 }

 .men{
    background-image: url("restaurant\ background.png");
    background-color: #cccccc;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  th {
    background-color: #C38370;
    color: white;
  }
  
  td {
    background-color: #f2f2f2;
  }
  
  .sign {
    background-image: url("restaurant\ background.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  form {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #f2f2f2;
    padding: 20px;
    background-color: #F6EEE0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #C38370;
    color: #F6EEE0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #C38370;
  }

  body {
    background-color: #F6EEE0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #A45C40;
  }
  
  nav a {
    color: #A45C40;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
    box-shadow: 0 4px 8px 0 rgba(235, 28, 28, 0.2), 0 6px 20px 0 rgba(245, 6, 6, 0.19);
  }
  
  
  nav a:hover {
    background-color: ;
    color: black;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F6EEE0;
    box-shadow: 0 4px 8px 0 rgba(235, 28, 28, 0.2), 0 6px 20px 0 rgba(245, 6, 6, 0.19);
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    color: #A45C40;
  }
  
  ul {
    font-size: 18px;
  }
  
  .book {
    background-image: url("booking.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuimg {
    width: 150px;
    height: 200px;
    
  }
  
  .menuimg th {
    display: block;
    margin-left: auto;
    margin-bottom: auto;
  } 
  
  